section.section.section--about.container
  h2 О Тренинг-центре Фантаз
  .about-tab.flex
    img(src='images/about-1.jpg' alt='')
    .right-side
      .select-tabs
        span.active Бизнес-тренер
        span Наш подход
      p Имеет 15 летний опыт управления продажами и персоналом в федеральных компаниях до 250 человек в подчинении. Сделала карьеру от менеджера по продажам до генерального директора торговой компании за первые три года профессиональной деятельности. Личный опыт продаж более 17 лет.
      p В обучении и консультировании использует как собственные методики и разработки, так и инструменты системного менеджмента, эффективность которых проверена на практике. Специалист в области управления продаж и персонала, формированием систем kpi и мотивации для всех уровней управления, построением систем обучения персонала и систем управления карьерой сотрудника внутри компании.
      p В тренингах использует практический опыт и наработки по обучения торгового персонала навыкам продаж, эффективным алгоритмам работы с клиентом в торговом зале, на встречах и по телефону. Тренер-практик, проводит тренинги с 2006 года. 
      
    
    
  
