.puga-duga#keyotdel
  section.circlusy--section.container
    p.cirk1.flex ОТДЕЛ ПРОДАЖ
    p.cirk2.flex Система аналитики и контроля
    p.cirk3.flex Система работы отдельного менедежера
    p.cirk4.flex Система работы Отдела
    p.cirk5.flex Нематериальная мотивация
    p.cirk6.flex Материальная мотивация
    p.cirk7.flex Система развития сотрудников
    p.cirk8.flex Система обучения стажеров
    p.cirk9.flex Система подбора
    p.cirk10.flex Система адаптации
    p.cirk11.flex Система оценки
