section.section.section--opinions.container
  h2 Отзывы о нас
  article.article-opinion.active
    img(src='images/unnamed.jpg' alt='')
    .info
        p 
          b Андреев А.Ю. 
          |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
        p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
        ul
          li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
        p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
  article.article-opinion
    img(src='images/unnamed.jpg' alt='')
    .info
        p 
          b Андреев А.Ю. 
          |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
        p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
        ul
          li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
        p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
        ul
          li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
  article.article-opinion
    img(src='images/unnamed.jpg' alt='')
    .info
        p 
          b Андреев А.Ю. 
          |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
        p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
        ul
          li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
        p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
        ul
          li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
          li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
          li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;

  .dots.flex    
    span.active
    span
    span
