section.section.section--completed-projects.flex.container#projects
  h2 Выполненные проекты
  .complete-project
    img(src='images/complet-proj-1.png' alt='')
    h3 Название выполненного проекта номер 1
  .complete-project
    img(src='images/complete-proj-2.png' alt='')
    h3 Название выполненного проекта номер 2
  .complete-project
    img(src='images/PROJCT-3.png' alt='')
    h3 Название выполненного проекта номер 3

  
