section.section.section--completed-projects.flex.container#projects
  h2 Выполненные проекты
  .slider-buttons.flex
    button.but-prev.buta
    button.but-next.buta
  .complete-project
    img(src='images/complet-proj-1.png' alt='')
    h3 Разработка методики внутреннего обучения продажам под задачи и с учетом специфики компании
  .complete-project
    img(src='images/complete-proj-2.png' alt='')
    h3 Обучение Торговых Представителей в формате курса мини-тренингов по основным этапам продаж:
  .complete-project
    img(src='images/PROJCT-3.png' alt='')
    h3 Подготовка и проведение дифференцированного обучения продажам сотрудников компании по группам
  .complete-project
    img(src='images/cli/dmidm.png' alt='')
    h3 Построение системы обучения в компании

  
