section.section.section--education-programs.container
  h2 Программы обучения
  .for-whom.flex
    h6 Для кого:
    .filter-buttons
      button.button.button--blue.active продавцы-консультанты
      button.button.button--blue.active менеджеры по продажам
      button.button.button--blue собственники и руководители
      button.button.button--blue внутренние тренеры
      button.button.button--blue сотрудники отдела сервиса
      button.button.button--blue.active торговые представители
  +article-edu-program('Эффективные продажи в B2B')
  +article-edu-program('Продажи в торговом зале')
  +article-edu-program('Переговоры')
  +article-edu-program('Работа с возражениями')
  +article-edu-program('WOW-сервис')
  +article-edu-program('Экспресс-тренинг по продажам')
  +article-edu-program('«Мой трудный клиент»')
  +article-edu-program('Программа для торговых представителей')
  +article-edu-program('EQ в продажах')
  +article-edu-program('Сформировать свою программу')
  p.additional-text Каждая программа обучения предварительно оптимизируется под вашу корпоративную культуру или текущие задачи компании
    
    
