section.section.section--education-formats#formats
  .container.flex
    .left-side
      h2 Форматы обучения
      p Все программы обучения доступна в&nbsp;любом формате 
    .right-side.flex
      +education-form('Тренинг полного дня','images/open-book.png')
      +education-form('Курс мини-тренингов','images/targeting.png')
      +education-form('Онлайн- тренинги','images/translation.png')
      +education-form('Индивидуальное обучение','images/famous.png')
      +education-form('Системное обучение','images/brain.png')
      +education-form('в&nbsp;формате вебинаров','images/laptop.png')
    
  
