section.section.section--education-programs.container#programs
  h2 Программы обучения
  .for-whom.flex
    h6 Для кого:
    .filter-buttons
      button.button.button--blue продавцы-консультанты
      button.button.button--blue менеджеры по продажам
      button.button.button--blue собственники и руководители
      button.button.button--blue внутренние тренеры
      button.button.button--blue сотрудники отдела сервиса
      button.button.button--blue торговые представители
  +article-edu-program('Эффективные продажи в B2B','продавцы-консультанты')
  +article-edu-program('Продажи в торговом зале','продавцы-консультанты')
  +article-edu-program('Переговоры','собственники и руководители')
  +article-edu-program('Работа с возражениями','сотрудники отдела сервиса')
  +article-edu-program('WOW-сервис','сотрудники отдела сервиса')
  +article-edu-program('Экспресс-тренинг по продажам','менеджеры по продажам')
  +article-edu-program('«Мой трудный клиент»','менеджеры по продажам')
  +article-edu-program('Программа для торговых представителей','торговые представители')
  +article-edu-program('EQ в продажах','торговые представители')
  +article-edu-program('Сформировать свою программу','торговые представители')
  p.additional-text Каждая программа обучения предварительно оптимизируется под вашу корпоративную культуру или текущие задачи компании
    
    
