section.section.section--education-programs.container#programs
  h2 Программы обучения
  .for-whom.flex
    h6 Для кого:
    .filter-buttons
      button.button.button--blue продавцы-консультанты
      button.button.button--blue менеджеры по продажам
      button.button.button--blue собственники и руководители
      button.button.button--blue внутренние тренеры
      button.button.button--blue сотрудники отдела сервиса
      button.button.button--blue торговые представители
  +article-edu-program('Эффективные продажи в B2B','продавцы-консультанты','effectivnie.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель программы: 
            |повысить эффективность менеджеров по продажам за счет повышения осознанности и освоения современного концепта взаимодействия с клиентом.
        li.more-list__item
          p 
            strong Задачи программы: 
          p - понимание логики полного цикла продажи, освоение (улучшение) навыков и инструментов по каждому этапу продаж;
          p - понимание роли менеджера, освоение принципов клиенториентированности;
          p - осознание собственных ограничивающих убеждений, понимание зоны ближайшего роста.

        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-14 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение
    .citatato
      p Никогда и ни в чем не убеждайте своих клиентов. Клиенты сами себя убедят. Ваша задача – понять вещи важные для ваших клиентов. Вам нужно почувствовать их проблемы так, как они их ощущают. Вы должны сидеть по их сторону стола и смотреть на мир их глазами.
      p.autrohor Нил Рекхэм 
    hr
    
    .more-info__section.flex
      .left-side
        h4 Успех Продаж и личность менеджера по продажам (МП).
      ol.right-side-list
        li.right-side-list__item
          span современный рынок и роль МП;
        li.right-side-list__item
          span закон количества попыток и методы преодоления фрустрации;
        li.right-side-list__item
          span личность - как выработать свой стиль в продажах.    
    hr
    .more-info__section.flex
      .left-side
        h4 Шаг первый - установление контакта.
      ol.right-side-list
        li.right-side-list__item
          span подготовка к продажам и SMART;
        li.right-side-list__item
          span работа с базой клиентов, активизация имеющихся контактов;
        li.right-side-list__item
          span специфика продаж по телефону;
        li.right-side-list__item
          span правила установления контакта и принципы эффективной коммуникации;
        li.right-side-list__item
          span навык вовлеченного «слушания».
    hr
    .more-info__section.flex
      .left-side
        h4 Шаг второй – определение и формирование потребностей.
      ol.right-side-list
        li.right-side-list__item
          span определение потребности;
        li.right-side-list__item
          span виды потребностей, мотивы сделки;
        li.right-side-list__item
          span тренажер – навык определения потребности.
    hr
    .more-info__section.flex
      .left-side
        h4 Шаг третий – формирование и презентация решения.
      ol.right-side-list
        li.right-side-list__item
          span диалог – как форма презентации;
        li.right-side-list__item
          span «врач или актер» - правила презентации;
        li.right-side-list__item
          span голос и содержание;
        li.right-side-list__item
          span «когда пора остановиться» - переход к закрытию сделки;
    hr
    .more-info__section.flex
      .left-side
        h4 Шаг четвертый - закрытие сделки.
      ol.right-side-list
        li.right-side-list__item
          span алгоритм закрытия сделки
        li.right-side-list__item
          span задачи, решаемые на этапе;
        li.right-side-list__item
          span ориентация на долгосрочное сотрудничество;
        li.right-side-list__item
          span работа с активной и неактивной базой: как не потерять клиента после первой сделки.    
    hr
    .more-info__section.flex
      .left-side
        h4 Работа с возражениями.
      ol.right-side-list
        li.right-side-list__item
          span типы возражений;
        li.right-side-list__item
          span профилактика возражений;
        li.right-side-list__item
          span алгоритм работы с возражением;
        li.right-side-list__item
          span 10 методов обработки возражений;
        li.right-side-list__item
          span типовые возражения и ответы на них.
    hr
    .more-info__section.flex
      .left-side
        h4 Эмоциональны интеллект (EQ) в продажах.
      ol.right-side-list
        li.right-side-list__item
          span структура EQ;
        li.right-side-list__item
          span эмоциональная честность, клиенториентированность и EQ;
        li.right-side-list__item
          span манипуляция, защита от манипуляций;
        li.right-side-list__item
          span техники снижения/повышения эмоционального напряжения.
    hr
    .more-info__section.flex
      .left-side
        h4 Типы клиентов.
      ol.right-side-list
        li.right-side-list__item
          span типы клиентов по системе DISC;
        li.right-side-list__item
          span методы работы с разными типами клиентов;
        li.right-side-list__item
          span психотипы клиентов и методы влияния;
        li.right-side-list__item
          span формирование общего ценностного поля.
    hr
    .more-info__section.flex
      .left-side
        h4 Личность продавца и компетенции МП.
      ol.right-side-list
        li.right-side-list__item
          span компетенции успешного МП;
        li.right-side-list__item
          span зоны ближайшего развития;
        li.right-side-list__item
          span 4 сегмента обучения. Навык – бессознательная компетентность;
        li.right-side-list__item
          span семантический дифференциал или насколько я и моя компания похожи;
        li.right-side-list__item
          span «мой трудный клиент» - кто он.
    hr
    .more-info__section.flex
      .left-side
        h4 Ограничивающие и поддерживающие убеждения.
      ol.right-side-list
        li.right-side-list__item
          span проблемная сеть- мысли-действия-результат;
        li.right-side-list__item
          span выделяем свои вирусные программы;
        li.right-side-list__item
          span техники работы с ограничивающими убеждениями.
        
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('Продажи в торговом зале','продавцы-консультанты','torgoviy zal.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |Отработка техник работы с клиентов в торговом зале. 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-14 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |ориентация на клиенте, внимание к деталям, умение анализировать и интерпретировать информацию
      ol.right-side-list
        li.right-side-list__item
          span Определение понятия "потребность".
        li.right-side-list__item
          span Цель и задачи этапа, роль продавца на этапе ВП.
        li.right-side-list__item
          span Виды потребностей.
        li.right-side-list__item
          span Приемы выявления потребностей, «волшебные вопросы».
        li.right-side-list__item
          span Виды вопросов, Типы вопросов, Воронка вопросов.
        li.right-side-list__item
          span Виды слушания, Умение слушать, Правила слушания. 
        li.right-side-list__item
          span Понятие «карты реальности» человека.
        li.right-side-list__item
          span Умение анализировать и интерпретировать полученную информацию.
        li.right-side-list__item
          span Правила ведения диалога.
        li.right-side-list__item
          span Профилактика возражения «не надо», «дорого».
        li.right-side-list__item
          span Переход к ПР (Презентации Решения).
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |уверенное поведение, навык яркой презентации, убеждение, творческое мышление.
      ol.right-side-list
        li.right-side-list__item
          span Цель и значение этапа, роль продавца на этапе ПР.
        li.right-side-list__item
          span Формула ценности. 
        li.right-side-list__item
          span И снова "себя, компанию, продукт".
        li.right-side-list__item
          span Правила презентации, Основы эффективной презентации.
        li.right-side-list__item
          span Бутерброд цены. 
        li.right-side-list__item
          span Диалог – как форма презентации.
        li.right-side-list__item
          span Мотивы покупки, Презентация в мотиве покупателя.
        li.right-side-list__item
          span Формула презентации (факт - оценка - выгода).
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |решительность, инициативность, навык уверенного поведения, навык аргументации.
      ol.right-side-list
        li.right-side-list__item
          span Цель и значение этапа, роль продавца на этапе ЗС.
        li.right-side-list__item
          span Принципы успешного ЗС, основные ошибки на этом этапе. 
        li.right-side-list__item
          span Сигналы готовности к покупке.
        li.right-side-list__item
          span Техники закрытия сделки.
        li.right-side-list__item
          span Алгоритм закрытия сделки.
        li.right-side-list__item
          span Вопросы на закрытие сделки. 
        li.right-side-list__item
          span Диалог – как форма закрытия сделки. 
        li.right-side-list__item
          span Профилактика «не надо», «подумаю».
        li.right-side-list__item
          span Навык продавать «дорого».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |эмпатия, навык уверенного поведения, эффективная коммуникация.
      ol.right-side-list
        li.right-side-list__item
          span Понятие «возражения», Отношение к возражениям.
        li.right-side-list__item
          span Причины появления возражений.
        li.right-side-list__item
          span Правила работы с возражениями.
        li.right-side-list__item
          span Профилактика возражений.
        li.right-side-list__item
          span «Корзина возражений» - основные типы возражений. 
        li.right-side-list__item
          span Ложные и истинные возражения. 
        li.right-side-list__item
          span Техника преобразования ложных возражений в истинные. 
        li.right-side-list__item
          span Алгоритм работы с возражениями.
        li.right-side-list__item
          span Методы аргументации, типовые ответы на основные возражения

    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('Переговоры','собственники и руководители','peregovori.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель программы: 
            |Освоить новый концепт и технологию, которая позволит участникам повысить собственную успешность и результативность в переговорах в условиях возможного давления и манипуляции.
        li.more-list__item
          p 
            strong Задачи программы: 
          p - Освоить основные принципы и методику ведения переговоров системы Кэмпа;
          p - Научиться стремиться не к компромиссу, а к достижению поставленных целей в переговорах;
          p - Научиться вести переговоры основываясь на решениях, а не на эмоциях;
          p - Научиться концентрироваться на том, что возможно контролировать – средствах достижения результата;
          p - Повысить эмоциональные компетенции – уверенность в себе, эффективную коммуникацию, эмпатию;
          p - Потренировать навыки убеждения и управления эмоциями противника.



        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-14 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение
    .citatato
      p Никогда и ни в чем не убеждайте своих клиентов. Клиенты сами себя убедят. Ваша задача – понять вещи важные для ваших клиентов. Вам нужно почувствовать их проблемы так, как они их ощущают. Вы должны сидеть по их сторону стола и смотреть на мир их глазами.
      p.autrohor Джим Кэмп.
    hr
    .more-info__section.flex
      .left-side
        h4 Особенности системы Кэмпа.

      ol.right-side-list
        li.right-side-list__item
          span виды переговоров, основные стратегии поведения;
        li.right-side-list__item
          span система Кэмпа – основные инструменты;
        li.right-side-list__item
          span ориентация на цель, а не на компромисс;
        li.right-side-list__item
          span контролируем действия, а не результат. ​
      
    hr
    .more-info__section.flex
      .left-side
        h4 Ограничивающие и поддерживающие убеждения.
      ol.right-side-list
        li.right-side-list__item
          span проблемная сеть- мысли-действия-результат;
        li.right-side-list__item
          span выделяем свои вирусные программы;
        li.right-side-list__item
          span техники работы с ограничивающими убеждениями;
        li.right-side-list__item
          span мотивы и цели. ​

      
    hr
    .more-info__section.flex
      .left-side
        h4 Подготовка к переговорам:
      ol.right-side-list
        li.right-side-list__item
          span ваша позиция – нужда или желание;
        li.right-side-list__item
          span управление собственными эмоциями;
        li.right-side-list__item
          span «эффект Коломбо»;
        li.right-side-list__item
          span управление собственными ожиданиями и страхами;
        li.right-side-list__item
          span «повестка дня». ​
      
    hr
    .more-info__section.flex
      .left-side
        h4 Управление переговорами:
      ol.right-side-list
        li.right-side-list__item
          span дать возможность противнику сказать «нет» - формулируем повестку дня иначе;

        li.right-side-list__item
          span ваша миссия;
        li.right-side-list__item
          span создание видения, вместо презентации;
        li.right-side-list__item
          span вопросы –основной инструмент переговоров;
        li.right-side-list__item
          span найдите их «боль»;
        li.right-side-list__item
          span кто принимает решение; блокаторы в переговорах. ​
      
    hr
    .more-info__section.flex
      .left-side
        h4  Инструментарий:
      ol.right-side-list
        li.right-side-list__item
          span «забота о противнике»;
        li.right-side-list__item
          span «контрвопрос»;

        li.right-side-list__item
          span «связка»;
        li.right-side-list__item
          span «травить леску»;
        li.right-side-list__item
          span «3+»
    hr
    .more-info__section.flex
      .left-side
        h4  Бюджет переговоров: время, деньги, энергия, эмоции. 
    hr
    .more-info__section.flex
      .left-side
        h4  Личная программа самосовершенствования как переговорщика.

  

    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('Работа с возражениями','сотрудники отдела сервиса','vozrajenia.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |повысить результативность работы менеджера по продажам за счет освоения концепта профилактики возражений и освоения технологии отработки возражений.
        li.more-list__item
          p 
            strong Задачи программы: 
          p - понимание причин возникновения разных видов возражений, освоение технологий профилактики возражений на каждом этапе продажи;
          p - освоить техники отработки основных видов возражений;
          p - поменять отношение к возражениям, научиться провоцировать возражения при необходимости.


        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-14 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    .citatato
      p  Не всегда возражай на возражения
      p.autrohor Грасиан-и-Моралес Бальтасар, 17 век.
    hr
    .more-info__section.flex
      .left-side
        h4 Понятие возражения.
    hr
    .more-info__section.flex
      .left-side
        h4 Профилактика возражений. Этапы продажи.
      
    hr
    .more-info__section.flex
      .left-side
        h4 Причины возникновения возражений.
      
    hr
    .more-info__section.flex
      .left-side
        h4 Мои «вирусные» программы. Отношение к возражениям.
      
    hr
    .more-info__section.flex
      .left-side
        h4 Истинные и ложные возражения.
    hr
    .more-info__section.flex
      .left-side
        h4 Навык перевода ложного возражения в истинное.
    hr
    .more-info__section.flex
      .left-side
        h4 Типы возражений.
    hr
    .more-info__section.flex
      .left-side
        h4 Алгоритм работы с возражением.
    hr
    .more-info__section.flex
      .left-side
        h4 Факт и мнение – построение сбалансированных ответов.
    hr
    .more-info__section.flex
      .left-side
        h4 Методы отработки возражений.
    hr
    .more-info__section.flex
      .left-side
        h4 «Корзина» возражений – основные возражения и ответы на них.

    hr
    .more-info__section.flex
      .left-side
        h4 Формулирование речевых модулей.
    hr
    .more-info__section.flex
      .left-side
        h4 «Мои» часто встречающиеся возражения. Причины. Ответы.
    hr
    .more-info__section.flex
      .left-side
        h4 Компетенции продавца, зона ближайшего развития.


      
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('WOW-сервис','сотрудники отдела сервиса','wow.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |несколько строк о целях и задачах программы 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-15 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('Экспресс-тренинг по продажам','менеджеры по продажам','express.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |Отработка техник работы с клиентов в торговом зале. 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-14 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия.
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |ориентация на клиенте, внимание к деталям, умение анализировать и интерпретировать информацию
      ol.right-side-list
        li.right-side-list__item
          span Определение понятия "потребность".
        li.right-side-list__item
          span Цель и задачи этапа, роль продавца на этапе ВП.
        li.right-side-list__item
          span Виды потребностей.
        li.right-side-list__item
          span Приемы выявления потребностей, «волшебные вопросы».
        li.right-side-list__item
          span Виды вопросов, Типы вопросов, Воронка вопросов.
        li.right-side-list__item
          span Виды слушания, Умение слушать, Правила слушания. 
        li.right-side-list__item
          span Понятие «карты реальности» человека.
        li.right-side-list__item
          span Умение анализировать и интерпретировать полученную информацию.
        li.right-side-list__item
          span Правила ведения диалога.
        li.right-side-list__item
          span Профилактика возражения «не надо», «дорого».
        li.right-side-list__item
          span Переход к ПР (Презентации Решения).
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('«Мой трудный клиент»','менеджеры по продажам','trudniy.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |несколько строк о целях и задачах программы 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-15 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('Программа для торговых представителей','торговые представители','predstaviteli.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |несколько строк о целях и задачах программы 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-15 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('EQ в продажах','торговые представители', 'eq.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |несколько строк о целях и задачах программы 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-15 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  +article-edu-program('Сформировать свою программу','торговые представители','svoia.png')
    .flex.more-info__about
      ul.more-list
        li.more-list__item
          p 
            strong Цель курса: 
            |несколько строк о целях и задачах программы 
        li.more-list__item
          p 
            strong Продолжительность: 
            |6-36 часов&nbsp;
        li.more-list__item
          p 
            strong Количество участников: 
            |6-15 человек в&nbsp;группе 
      .more-info__coast
        span от 73 000 Р.
        button.button.button--pink.zap Заказать обучение 
    hr
    .more-info__section.flex
      .left-side
        h4 I. Установление контакта (УК)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 II. Выявление потребностей (ВП)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 III. Презентация решения (ПР)
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 IV. Закрытие сделки
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .more-info__section.flex
      .left-side
        h4 V. Работа с возражениями
        p 
          strong Развиваемые компетенции: 
          |активность, инициатива, ориентация на клиенте, эмпатия
      ol.right-side-list
        li.right-side-list__item
          span Правила УК – дистанция, время, угол подхода.
        li.right-side-list__item
          span Признаки установленного контакта.
        li.right-side-list__item
          span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в&nbsp;ассортименте».
        li.right-side-list__item
          span Типы поведения покупателей.
        li.right-side-list__item
          span Диалог, виды реплик, правила ведения диалога.
        li.right-side-list__item
          span Методы установления контакта в&nbsp;торговом зале.
        li.right-side-list__item
          span Мета-сообщение и тренировка «искренности».
        li.right-side-list__item
          span Профилактика возражения «не верю».
    hr
    .flex.more-info__button
      button.button.button--pink.zap Заказать обучение сейчас 
    button.more-info__close Свернуть программу
  p.additional-text Каждая программа обучения предварительно оптимизируется под вашу корпоративную культуру или текущие задачи компании
    
    
