section.section.section--education-formats
  .container.flex
    .left-side
      h2 Форматы обучения
      p Все программы обучения доступна в любом формате 
    .right-side.flex
      +education-form('Тренинг полного дня')
      +education-form('Курс мини-тренингов')
      +education-form('Онлайн- тренинги')
      +education-form('Индивидуальное обучение')
      +education-form('Системное обучение')
      +education-form('В формате вебинаров')
    
  
