section.section.section--education-results.container.flex#results
  img(src='images/education-results.jpg' alt='').section__img
  .info
    h2 Результаты обучения
    ul.result-list
      li.result-item.flex
        .result-item__img.flex
          img(src='images/shopping-bag-blu.png' alt='')
        p 
          strong Рост количественных показателей 
          |за счет освоения новых технологий продаж и переговоров, отработки и закрепления навыков, работающих алгоритмов. 
      li.result-item.flex
        .result-item__img.flex
          img(src='images/startup-blu.png' alt='')
        p 
          strong Рост качественных показателей 
          |сотрудников за счет развития личностных компетенций участников, выработки собственного стиля работы с клиентом.
      li.result-item.flex
        .result-item__img.flex
          img(src='images/cheering-blu.png' alt='')
        p 
          strong Рост инициативности сотрудников  
          |за счет работы с мотивацией и отвественностью участников к продажам, компании и к клиентам 
    button.button.button--blue узнать о тренинге подробнее
