section.section.section--initial
  img(src='images/initial-section.jpg' alt='')
  .container
    .initial-info
      h1 Тренинг по продажам.  
      p Обучение продажам с ориентацией на результат
      ul
        li
          span Передача технологий и алгоритмов работы с клиентом;
        li
          span Прокачка навыков, развитие компетенций;
        li
          span Работа с ответственностью и вовлеченностью.
      a(href='#').zap Подобрать программу обучения
