section.main-screen.flex
  h1 Тренинг-центр Фантаз
  ul.main-screen__list.flex
    li.main-screen__item.flex
      a(href="#trening")
        img(src="images/main-screen-1.png" alt="")
        p ОБУЧЕНИЕ БИЗНЕС-ТРЕНЕРА 
    li.main-screen__item.flex
      a(href="index.html")
        img(src="images/main-screen-2.png" alt="")
        p ОБУЧЕНИЕ ПРОДАЖАМ 
    li.main-screen__item.flex
      a(href="#direct")
        img(src="images/main-screen-3.png" alt="")
        p ОБУЧЕНИЕ РУКОВОДИТЕЛЯ
    li.main-screen__item.flex
      a(href="#direct")
        img(src="images/main-screen-4.png" alt="")
        p ОБУЧЕНИЕ HR
    li.main-screen__item.flex
      a(href="#keyotdel")
        img(src="images/main-screen-5.png" alt="")
        p ОТДЕЛ ПРОДАЖ ПОД КЛЮЧ
