.puga-duga#otdel
  .initial-acreen.flex
      img(src='images/Bitmap.jpg' alt='').wrpsu
      .initial-acreen__info
        .wrap
          .container.flex.justi-bet
            .progu
              h1 Эффективный отдел продаж
              p Продающая команда + Отлаженная система продаж
              .odel-buttons
                button.button.button--pink создать с нуля
                button.button.button--blue отладить действующий
            .initi__container-righter
                h4 Эффективный ОП: 
                p 
                  strong — это команда 
                  |профессиональных менеджеров, вовлеченных в процесс и лояльных к компании, отождествляющие личные цели и цели организации и ориентированные на их достижение; 
                p 
                  strong — это отдел, 
                  |который выполняет план, показывает высокие и средневысокие показатели на длительном периоде, а также обеспечивает регулярный прирост по заданным показателям.
              
