section.section.section--our-clients.flex.container
  img(src='images/cli/logotip-bukvoed.png' alt='')
  img(src='images/cli/angstrem.png' alt='')
  img(src='images/cli/buby-mamoi.png' alt='')
  img(src='images/cli/alony.png' alt='')
  img(src='images/cli/starky.png' alt='')
  img(src='images/cli/UNICON_1.png' alt='')
  img(src='images/cli/header-logo.png' alt='')
  img(src='images/cli/dmidm.png' alt='')
  img(src='images/cli/prukf.png' alt='')
  img(src='images/cli/fffdaaa.png' alt='')
  img(src='images/cli/gffre.png' alt='')
  img(src='images/cli/dddd.png' alt='')
  .slider-buttons.flex
    button.but-prev.buta
    button.but-next.buta
  h2 Наши клиенты
