section.section.section--our-clients.flex.container
  img(src='images/Logotip_UNICON_1520_dlia_novostei.width-444.png' alt='')
  img(src='images/euro-trex.png' alt='')
  img(src='images/Logotip_UNICON_1520_dlia_novostei.width-444.png' alt='')
  img(src='images/euro-trex.png' alt='')
  img(src='images/Logotip_UNICON_1520_dlia_novostei.width-444.png' alt='')
  img(src='images/euro-trex.png' alt='')
  img(src='images/Logotip_UNICON_1520_dlia_novostei.width-444.png' alt='')
  img(src='images/euro-trex.png' alt='')
  img(src='images/Logotip_UNICON_1520_dlia_novostei.width-444.png' alt='')
  .slider-buttons.flex
    button.but-prev.buta
    button.but-next.buta
  h2 Наши клиенты
