.puga-duga-ras#direct
  .initial-acreen.flex
      .initial-acreen__info
        h1 Обучение   
        p Система обучения руководителей и собственников
        span Блоки обучения: управленческие навыки, управление отделом, продажами, личная эффективность, управленческие технологии 
      .flex.initial-acreen__formats
        .format-edu.flex
          .format-edu__img.flex
            img(src='images/network.png' alt='')
          .format-edu__info
            h3 Индивидуальный формат
            p Научитесь решать управленческие задачи на практике с личным экспертом
            
        .format-edu.flex
          .format-edu__img.flex.img--red
            img(src='images/dddd4553.png' alt='')
          .format-edu__info
            h3 Формат тренинга
            p Освойте управленческие навыки и технологии в команде единомышленников
      a(href="#").button.button--pink Узнать о тренинге подробнее
