.puga-duga
  section.section.section--timetable.container.flex
    h2 Расписание ближайших занятий
    ul.timetable__list
      +timetable-item
      +timetable-item
      +timetable-item
      +timetable-item
      +timetable-item
