section.trening.container#trening
  h1 Тренинг по продажам 
  p.pipos Обучение продажам с ориентацией на результат
  ul.trening__list.flex
    li.trening__item.flex
      img(src='' alt='')
      p Передача технологий и алгоритмов работы с клиентом;
    li.trening__item.flex
      img(src='' alt='')
      p Прокачка навыков, развитие компетенций;
    li.trening__item.flex
      img(src='' alt='')
      p Работа с ответственностью и вовлеченностью.
  
