@import '../fonts/fonts.css';

:root
{
    --pink: #ea6969;
    --darkBlue: #488999;
}

.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container
{
    max-width: 1280px;
    margin: auto;
    padding: 0 85px;
}

.section h2
{
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 3rem;

    text-align: center;

    color: #444;
}

.button
{
    font-size: 1rem;
    font-weight: 400;

    max-height: 50px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: calc((50px - 16px) / 2) 30px;

    color: #777;
    border: 1px solid;
    border-radius: 30px;
    background: #fff;
}

.button--blue
{
    border-color: #56b3ca;
}

.button--blue.active
{
    color: #fff;
    background: #56b3ca;
}

.button--pink
{
    color: #fff;
    border-color: #ea6969;
    background: #ea6969;
}

.header__up-line
{
    height: 110px;

    align-items: center;
    justify-content: space-between;
}

.header__nav
{
    max-height: 50px;
    padding: calc((50px - 16px) / 2) 0;

    background: #488999;

    background: var(--darkBlue);
}

.link
{
    margin-left: 25px;
}

.link--mail
{
    font-size: 1.125rem;
    font-weight: 400;

    text-decoration: underline;

    color: #505050;
}

.link--tel
{
    font-size: 1.125rem;
    font-weight: 400;

    color: #505050;
}

.link--tel span
{
    color: #488999;
}

.link--button
{
    font-size: 1rem;
    font-weight: 400;

    max-width: 138px;
    max-height: 50px;
    padding: 15px 30px;

    color: #488999;
    border: 1px solid #488999;
    border-radius: 30px;
}

.logotype
{
    align-items: center;
}

.logotype img
{
    max-width: 50px;
    max-height: 50px;
}

.logotype span
{
    font-size: 1.125rem;

    margin-left: 17px;

    color: #333;
}

.header-list__item
{
    margin-right: 30px;
}

.header-list__item a
{
    font-size: 1rem;

    color: #fff;
}

.footer
{
    height: 340px;

    background: #333;
}

.section--initial
{
    position: relative;

    height: 570px;
}

.section--initial:after
{
    position: absolute;
    top: 185px;
    right: 0;

    width: 110px;
    height: 110px;

    content: '';
    -webkit-transform: skewY(-36deg);
            transform: skewY(-36deg);

    background: #56b3ca;
}

.section--initial .container
{
    position: relative;

    height: 100%;
}

.section--initial .container:before
{
    position: absolute;
    bottom: 0;
    left: calc(440px + 85px);

    content: '';

    border: calc(385px / 2) solid transparent;
    border-top-color: #fff;
    border-left-color: #fff;
}

.section--initial .container:after
{
    position: absolute;
    right: 185px;
    bottom: 0;

    content: '';

    border: 125px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.section--initial img
{
    position: absolute;
}

.section--initial h1
{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.625rem;

    margin-bottom: 10px;

    color: #444;
}

.section--initial p
{
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 3rem;

    color: #444;
}

.section--initial ul
{
    margin-top: 20px;
    margin-bottom: 28px;
}

.section--initial ul li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;
}

.section--initial ul li:before
{
    display: block;

    width: 11px;
    height: 1px;
    margin-right: 11px;

    content: '';

    background: #488999;
}

.section--initial ul li span
{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;

    color: #444;
}

.section--initial a
{
    font-size: 1.125rem;
    font-weight: 400;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    color: #ea6969;

    align-items: center;
}

.section--initial a:before
{
    display: block;

    width: 40px;
    height: 45px;
    margin-top: 15px;
    margin-right: 15px;

    content: url('../images/normal-link.png');

    content: url('../images/initial-link.png');
}

.section--initial a:after
{
    position: absolute;
    bottom: 10px;
    left: calc(40px + 15px);

    width: 130px;
    height: 1px;

    content: '';

    background: #ea6969;
}

.initial-info
{
    position: relative;

    width: 610px;
    height: 485px;
    margin-left: -85px;
    padding: 90px 0 0 85px;

    background: #fff;
}

.initial-info:before
{
    position: absolute;
    z-index: 1;
    bottom: -85px;
    left: 0;

    content: '';

    border: 45px solid transparent;
    border-right-color: #69d1ea;
    border-bottom-color: #69d1ea;
}

.initial-info:after
{
    position: absolute;
    bottom: -85px;
    left: 0;

    width: 525px;
    height: 85px;

    content: '';

    background: #fff;
}

.section--education-programs
{
    padding: 80px 85px;
}

.section--education-programs .additional-text
{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;

    margin-top: 50px;

    text-align: center;

    color: #444;
}

.section--education-programs h2
{
    margin-bottom: 75px;
}

.section--education-programs .for-whom
{
    height: 220px;
    margin-bottom: 50px;
    padding: 50px;

    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    align-items: center;
}

.section--education-programs .for-whom h6
{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 8.75rem;

    min-width: calc(78px + 50px);
    margin-right: 50px;
    padding-right: 50px;

    color: #444;
    border-right: 1px solid #dedede;
}

.article-edu-program
{
    position: relative;

    margin-bottom: 20px;

    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    align-items: center;
}

.article-edu-program:last-child
{
    margin-bottom: 0;
}

.article-edu-program img
{
    max-width: 100px;
    max-height: 100px;
}

.article-edu-program h3
{
    font-size: 1.875rem;
    font-weight: 400;

    margin-left: 40px;

    color: #444;
}

.article-edu-program .button
{
    position: absolute;
    right: 50px;
}

.section--education-formats
{
    height: 282px;

    border: 1px solid #979797;
    background: -webkit-linear-gradient(326deg, #54a3b6 0%, #66cce4 100%);
    background: -o-linear-gradient(326deg, #54a3b6 0%, #66cce4 100%);
    background: linear-gradient(124deg, #54a3b6 0%, #66cce4 100%);
}

.section--education-formats .container
{
    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.section--education-formats h2
{
    margin-bottom: 17px;

    text-align: left;

    color: #fff;
}

.section--education-formats p
{
    font-size: 1rem;
    font-weight: 400;

    color: #fff;
}

.section--education-formats .right-side
{
    max-width: 600px;
    margin-top: 35px;

    flex-wrap: wrap;
}

.education-form
{
    margin-right: 35px;
    margin-bottom: 35px;

    align-items: center;
}

.education-form__img
{
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #fff;
    box-shadow: inset 0 0 4px rgba(0,0,0,.2);

    align-items: center;
    justify-content: center;
}

.education-form__img img
{
    max-width: 20px;
    max-height: 20px;
}

.education-form h3
{
    font-size: 1rem;
    font-weight: 400;

    max-width: 105px;
    margin-left: 15px;

    color: #fff;
}

.section--education-results
{
    position: relative;

    height: 600px;
    padding: 0;

    justify-content: flex-end;
    align-items: center;
}

.section--education-results:after
{
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    border: 70px solid transparent;
    border-top-color: #fff;
    border-left-color: #fff;
}

.section--education-results .info
{
    position: relative;

    width: 595px;
    height: 500px;
    padding: 50px;

    background: -webkit-linear-gradient(331deg, #68d0e9 0%, #56b3ca 100%);

    background: -o-linear-gradient(331deg, #68d0e9 0%, #56b3ca 100%);

    background: linear-gradient(119deg, #68d0e9 0%, #56b3ca 100%);
}

.section--education-results .info:after
{
    position: absolute;
    right: 0;
    bottom: 0;

    content: '';

    border: 70px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.section--education-results .info h2
{
    margin-bottom: 25px;

    text-align: left;

    color: #fff;
}

.section--education-results .info .result-item
{
    margin-bottom: 20px;

    align-items: center;
}

.section--education-results .info .result-item:last-child
{
    margin-bottom: 0;
}

.section--education-results .info .result-item__img
{
    width: 60px;
    height: 60px;

    border: 1px solid #fff;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.section--education-results .info .result-item__img img
{
    max-width: 30px;
    max-height: 30px;
}

.section--education-results .info .result-item p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;

    width: calc(100% - 60px - 25px);
    margin-left: 25px;

    color: #fff;
}

.section--education-results .info .result-item p strong
{
    font-weight: 700;
}

.section__img
{
    position: absolute;
    left: 0;

    max-width: 960px;
}

.section--about
{
    padding: 80px 85px;
}

.section--about h2
{
    margin-bottom: 60px;
}

.section--about .about-tab
{
    align-items: center;
}

.section--about .about-tab img
{
    max-width: 270px;
    max-height: 365px;
}

.section--about .about-tab p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;

    margin-bottom: 17px;

    color: #444;
}

.section--about .right-side
{
    margin-left: 50px;
}

.section--about .select-tabs
{
    max-width: 550px;
    margin-bottom: 20px;
    padding-bottom: 14px;

    border-bottom: 1px solid #56b3ca;
}

.section--about .select-tabs span
{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;

    margin-right: 40px;

    color: #999;
}

.section--about .select-tabs span.active
{
    color: #56b3ca;
}

.section--news
{
    padding: 90px 85px;

    flex-wrap: wrap;
}

.article-news
{
    margin-right: 40px;
    margin-bottom: 40px;
}

.article-news:nth-child(even)
{
    margin-right: 0;
}

.article-news img
{
    max-width: 200px;
    max-height: 200px;
}

.article-news .info
{
    max-width: 305px;
    margin-left: 30px;
}

.article-news .info h3
{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;

    margin-bottom: 15px;

    color: #56b3ca;
}

.article-news .info p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;

    color: #444;
}

*
{
    font-size: 100%;
    line-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;

    border: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Circe', sans-serif;
}

::-moz-selection
{
    color: #fff;
    background: #ea6969;
    background: var(--pink);
}

::selection
{
    color: #fff;
    background: #ea6969;
    background: var(--pink);
}

img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}

input
{
    border: 0;
}

input[type='submit'] + label
{
    cursor: pointer;
}
