.section--about
  padding 80px 85px
  h2
    margin-bottom 60px

  .about-tab
    align-items flex-start
    img
      max-width 270px
      max-height 365px
    p
      color #444444
      font-size 16px
      font-weight 400
      line-height 28px
      margin-bottom 17px
  .right-side
    margin-left 50px
  .tabus
    display none
    &.active
      display block
  .select-tabs
    border-bottom 1px solid #56b3ca
    max-width 550px
    margin-bottom 20px
    padding-bottom 14px
    span
      color #999999
      margin-right 40px
      cursor pointer
      font-size 24px
      font-weight 400
      line-height 28px
      &.active
        color #56b3ca

.whatosi
  flex-wrap wrap
  padding-right: 65px;

.whatos
  width 355px
  margin-right 20px
  margin-bottom 20px
  height 420px
  box-shadow 0 0 20px rgba(0,0,0, .14)
  img
    background linear-gradient(119deg,#68d0e9,#56b3ca)
    height 160px
    width 355px
    display block
  h3
    color #68d0e9
    font-size 18px
    font-weight 600
    margin-bottom 15px
  p
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 17px;
    color: #444;
  &__header
    padding 40px 30px
