.section--about
  padding 80px 85px
  h2
    margin-bottom 60px

  .about-tab
    align-items center
    img
      max-width 270px
      max-height 365px
    p
      color #444444
      font-size 16px
      font-weight 400
      line-height 28px
      margin-bottom 17px
  .right-side
    margin-left 50px
  .select-tabs
    border-bottom 1px solid #56b3ca
    max-width 550px
    margin-bottom 20px
    padding-bottom 14px
    span
      color #999999
      margin-right 40px
      font-size 24px
      font-weight 400
      line-height 28px
      &.active
        color #56b3ca
