.section--education-programs
  padding 80px 85px
  .additional-text
    color #444444
    text-align center
    font-size 18px
    font-weight 400
    line-height 28px
    margin-top 50px
  h2
    margin-bottom 75px
  .for-whom
    align-items center
    height 220px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
    background-color #ffffff
    padding 50px 0 50px 50px
    margin-bottom 50px
    .filter-buttons
      margin-top 20px
      .button
        margin-right 10px
        padding 17px 25px
        &:hover
          border-color 0
          background 0
          color #777777

    h6
      color #444444
      min-width calc(78px + 50px)
      font-size 18px
      font-weight 400
      border-right 1px solid #dedede
      padding-right 50px
      line-height 140px
      margin-right 50px


.article-edu-program
  background-color #fff
  margin-bottom 20px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
  overflow hidden
  transition .55s
  &.active
    height max-content
    .article-program__more-info
      display block
    .article-program__info
      background-color #56b3ca
      .button
        background 0
        border-color #fff
        color #fff

        &:focus
          background 0
          border-color #fff
        &:hover
          border-color #fff
          color #fff
          background-color 0

    h3
      color #fff
  .article-program__info
    align-items center
    position relative
    height 100px
    .button
      position absolute
      right 50px
      padding-bottom: 15px;
      padding-top: 15px;
      background 0
      color #ea6969
      min-width 170px
      b
        font-weight normal
  &:last-child
    margin-bottom 0
  img
    max-width 100px
    max-height 100px
  h3
    color #444444
    margin-left 40px
    font-size 30px
    font-weight 400


  .article-program__more-info
    width 100%
    padding 60px 50px
    display none
    position relative
    hr
      border 1px solid #dedede
      margin 50px 0
    .more-info__about
      justify-content space-between
  .more-list
    max-width 50%
  .citatato
    margin 35px auto
    p
      color #444444
      font-size 16px
      font-weight 400
      line-height 29px
      text-align center
      max-width 500px
      margin 15px auto
    .autrohor
      text-align right
  .more-info
    &__close
      color #999999
      font-size 12px
      font-weight 400
      position absolute
      right 50px
      bottom 35px
      background 0
    &__coast
      span
        color #444444
        font-size 24px
        font-weight 400
        margin-right 28px
        display none
    &__button
      justify-content center
    &__section
      justify-content space-between
      .left-side
        width calc(100% - 580px)
      h4
        color #444444
        margin-bottom 20px
        font-size 24px
        font-weight 400
        line-height 32px
      p
        color #444444
        font-size 16px
        font-weight 400
        line-height 28px
        strong
          font-weight 700
      .right-side-list
        width 560px
        &__item
          color #444444
          font-size 16px
          font-weight 400
          line-height 28px
          span
            margin-left 5px
  .more-list
    &__item
      margin-bottom 12px
      p
        color #444444
        font-size 16px
        font-weight 400
        strong
          font-weight 700
