.section--news
  flex-wrap wrap
  padding 90px 85px
  position relative

.article-news
  margin-bottom 40px
  margin-right 40px
  &:nth-child(even)
    margin-right 0
  &:hover
    .info
      h3
        color var(--pink)
  img
    max-width 200px
    max-height 200px
  .info
    max-width 305px
    margin-left 30px
    h3
      color #56b3ca
      font-size 16px
      font-weight 700
      line-height 28px
      transition .55s
      margin-bottom 15px
    p
      color #444444
      font-size 16px
      font-weight 400
      line-height 28px
