.section--our-clients
  align-items center
  overflow auto
  padding 80px 85px
  position relative
  .slider-buttons
    flex-direction: column;
    position: absolute;
    right: 220px;
    z-index: 9;
  img
    max-width 160px
    margin-right 30px
    display none
    max-height: 110px;
    object-fit: contain;
    &.active
      display block
    &:last-child
      margin-right 0
  h2
    color #444444
    font-size 18px
    font-weight 700
    line-height 28px
    border-left 1px solid #dedede
    padding-left 50px
    margin-left 35px
    line-height 140px
    min-width calc(127px + 50px)
    position: absolute;
    right: 58px;
.slider-buttons
  flex-direction column

  .buta
    background url('../images/down-arrow.png')
    width 10px
    height 18px
    display block
    &:first-child
      margin-bottom 16px
  .but-prev
    transform rotate(-180deg)
