.trening
  padding 80px 0 100px
  h1
    color #444444
    font-size 48px
    font-weight 400
    text-align center
    line-height 58px
  .pipos
    color #444444
    font-size 36px
    font-weight 400
    line-height 48px
    text-align center
  .trening__list
    margin-top 80px
    justify-content space-between
    &.plckes

      .trening__item
        &:nth-child(2)
          .trening__item-imga
            background-color 0
        &:nth-child(3)
          .trening__item-imga
            background-color 0
      .trening__item-imga
        background-color 0
        border 1px solid #488999
        box-shadow inset 0 0 8px rgba(0, 0, 0, 0)
  .trening__item
    margin-right 30px
    align-items: center;
    &:nth-child(2)
      .trening__item-imga
        background #56b3ca
    &:nth-child(3)
      .trening__item-imga
        background #488999
    &:last-child
      margin-right 0
    .trening__item-imga
      width 70px
      height 70px
      margin-right 20px
      box-shadow inset 0 0 8px rgba(0, 0, 0, 0.2)
      background-color #69d1ea
      border-radius 50%
      display flex
      justify-content center
      align-items center

      img
        width max-content
        height max-content
    p
      color #444444
      font-size 18px
      font-weight 400
      line-height 32px
      width calc(100% - 90px)
      max-width 280px
