.bx-filter .bx-filter-section {
	padding: 0;
}
.bx-ui-slider-range {
	height: 10px;
	border-radius: 2px;
}
.bx-filter .bx-ui-slider-range {
	z-index: 100;
}

.bx-filter .bx-ui-slider-part {
	background-color: transparent;
}
/*
* INPUTS
*
*/
.bx-filter   .bx-filter-input-container input:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter   .bx-filter-input-container input:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
*Track
*
*/
.bx-filter   .bx-ui-slider-track{background: #e7e7e7;}
.bx-filter   .bx-ui-slider-pricebar-vd{
	background: #849da4;
	height: 10px;
}
.bx-filter   .bx-ui-slider-pricebar-vn{
	background: #f8f8f8;
	height: 10px;
}
.bx-filter   .bx-ui-slider-pricebar-v {
	background: #ed7144;
	height: 10px;
}

/*
*	Select
*
*/
.bx-filter   .bx-filter-select-container.bx-active,
.bx-filter   .bx-filter-select-container:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter   .bx-filter-select-container.bx-active,
.bx-retina .bx-filter   .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
*	Select popup
*
*/
/*
* TAGS
*
*/
.bx-filter   .bx-filter-tag {
	border-top: 1px solid #d7eaf7;
	border-bottom: 1px solid #d7eaf7;
}
.bx-filter   .bx-tag-link {
	color: #68939e;
}
/*
*	LABEL
*
*/
/*
*	Checkbox / Radio 
*
*/
/*
* 	BTN 
*
*/
.bx-filter   .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter   .bx-filter-param-btn:hover,
.bx-filter   .bx-filter-param-btn:active,
.bx-filter   .bx-filter-param-btn:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter   .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-retina .bx-filter   .bx-filter-param-btn:hover,
.bx-retina .bx-filter   .bx-filter-param-btn:active,
.bx-retina .bx-filter   .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
* BTN P/M
*
*/
/*
*	icon
*
*/
/*
* 	BIZ
*
*/
/*
*	BTN result and reset 
*
*/

.bx-filter   .btn-themes {
	background-color: #1485CE;
	border-color: #1485CE;
	color: #FFF
}
.bx-filter   .btn-themes.bx-active,
.bx-filter   .btn-themes.focus,
.bx-filter   .btn-themes:active,
.bx-filter   .btn-themes:focus,
.bx-filter   .btn-themes:hover{
	background-color: #53A4D8;
	border-color: #53A4D8;
	color: #FFF
}
/*
* 	Result Popup
*
*/