@media(min-width 768px) and (max-width 1279px)

  .footer
    padding 75px 20px 40px
    .container
      padding 0
    .footer__down-left
      .footer__down-left-item
        &:nth-child(2)
          span,a
            &:after
              border-right 0
        &:last-child
          display none
    .footer-contacts
      &__item
        &:first-child
          a
            border-right 0
        &:last-child
          display none
  .page
    .initial-acreen
      &__info
        padding-top 100px
      &__formats
        flex-wrap wrap
        margin-top 35px
        justify-content center
        .format-edu
          &:first-child
            margin-right 0
            margin-bottom 30px
    .education-blocks
      padding 80px 40px
      .edu-blocks
        flex-wrap wrap
        justify-content flex-start
        align-items flex-start
        .edu-block
          margin-bottom 30px
    .individual-education
      margin-bottom 80px
      &:before
        height 1482px
      .individual-blocks
        flex-wrap wrap
        flex-direction column
        align-items center
      .individual-block
        margin-right 0
        margin-bottom 55px
        &:after
          left 0
          right 0
          bottom -40px
          top auto
    .section--opinions
      padding 80px 40px
    .section--timetable
      padding 80px 20px
      .non
        display block
      .vis
        display none
      .timetable-item
        h3
          max-width 300px



  .logotype
    span
      display none
  .section--education-programs
    padding 80px 20px
    .for-whom
      height 290px
      padding 40px
      .button
        margin-right 5px
        padding 17px 20px
      h6
        padding-right 30px
        margin-right 30px
        min-width calc(78px + 30px)
  .section--initial
    overflow hidden
    &:after,&:before
      display none
    .container
      &:after
        left 440px
      &:before
        left 480px
  .article-edu-program
    h3
      width 420px
      height 30px
      overflow hidden

    .article-program__info
      .button
        min-width 130px
        right 10px
        span
          display none
  .section--education-formats
    padding 60px
    height max-content
    h2
      text-align center
    .container
      flex-direction column
      padding 0
    .right-side
      justify-content center
  .section--education-results
    padding 0
  .section--about
    padding 60px 20px 0
    .right-side
      margin-left 30px
    .about-tab
      align-items flex-start
      img
        max-width 200px
        max-height 270px

  .section--completed-projects
    padding 40px 20px 140px
    .complete-project
      margin 18px
    h2
      padding-right 25px
      margin-right 15px

  .section--our-clients
    display none

@media(max-width 1280px)
  .education-form
    &:nth-child(3),&:nth-child(6)
      margin-right 0
  .section--initial .container:before
    left: 522px;
@media(max-width 950px)
  .initial-info:after, .initial-info:before 
    position: absolute;
    bottom: -85px;
    left: 0;
    content: "";
    box-shadow: inset 6px -4px 10px rgba(0,0,0,.04);

  .more-info__coast
        margin: 15px auto 0;
  .container
    padding 0 45px
  .link--mail
    display none
  .section--initial .container:before
    left: 483px;
  .section--education-programs .for-whom .filter-buttons .button
    margin-right: 9px;
    padding: 17px 19px;
    font-size: 15px;
  .section--timetable
    display none
@media(max-width 768px)
  .page-otdel
    .initial-acreen .wrap .justi-bet
      flex-direction: column;
    .initi__container-righter
      width: 100%;
      margin-left: -10px;
      height: max-content;
      margin-top: 125px;
    .circlusy--section
      margin-top: 230px;
      margin-bottom: -100px;
      .cirk3
        margin-left: 60px;
      .cirk6
        margin-left: 11px;
        margin-bottom: 209px;
      .cirk8
        margin-top: 214px;
        margin-left: 31px;
      .cirk10
        margin-top: 119px;
        margin-right: 268px;
      .cirk7
        margin-top: 291px;
        margin-right: 8px;
      .cirk11
        margin-top: 272px;
        margin-right: 181px;
      .cirk9
        margin-top: 189px;
        margin-left: 239px;
      .cirk4
        margin-right: 95px;
        margin-bottom: 336px;
      .cirk5
        margin-right: 380px;
      .cirk2
        margin-bottom: 190px;
        margin-left: 575px;
    .section-discription-program
      padding: 0;
      .discription-program .left-side
        width: 200px;
      .discription-program .right-side-program__first-line
        width: 100%
        height: max-content;
      .discription-program .right-side-program__second-line
        width: 100%
      .discription-program .right-side
        width: calc(100% - 200px)
      .discription-program .left-side h3
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
  .section--news
    article
      &:nth-child(even)
        display none
  .article-edu-program .more-info__section .left-side
    width 100%
  .article-edu-program .more-info__section,.article-edu-program .article-program__more-info .more-info__about
    flex-wrap wrap
  .section--education-programs,.section--about,.section--news
    &.container
          padding: 55px 30px;
  .article-edu-program h3
    font-size: 17px;
    font-weight: 400;
    margin-left: 16px;
  .section--education-programs .for-whom
    height: max-content;
    padding: 40px;
  .section--education-programs .for-whom .filter-buttons .button
    font-size: 14px;
    margin-right: 1px;
    padding: 17px 15px;
  .section--our-clients,.section--completed-projects
    overflow hidden
  .container
    padding: 0px 30px;
  .footer
    padding 75px 20px 40px
    .container
      padding 0
    .footer__down-left
      .footer__down-left-item
        &:nth-child(2)
          span,a
            &:after
              border-right 0
        &:last-child
          display none
    .footer-contacts
      &__item
        &:first-child
          a
            border-right 0
        &:last-child
          display none
  .page
    .individual-education
      margin-bottom 80px
      &:before
        height 1482px
      .individual-blocks
        flex-wrap wrap
        flex-direction column
        align-items center
      .individual-block
        margin-right 0
        margin-bottom 55px
        &:after
          left 0
          right 0
          bottom -40px
          top auto
    .education-blocks
      padding 80px 40px
      .edu-blocks
        flex-wrap wrap
        justify-content flex-start
        align-items flex-start
        .edu-block
          margin-bottom 30px
    .initial-acreen
      &__info
        padding-top 100px
      &__formats
        flex-wrap wrap
        margin-top 35px
        justify-content center
        .format-edu
          &:first-child
            margin-right 0
            margin-bottom 30px

  .link--mail
    display none
  .section--initial
    overflow hidden
    &:after,&:before
      display none
    .container
      &:after
        left 440px
      &:before
        left 466px
  .section--education-formats
    padding 60px
    height max-content
    h2
      text-align center
    .container
      flex-direction column
      padding 0
    .right-side
      justify-content center
  .section--news
    article
      &:nth-child(even)
        display none
@media(max-width 700px)
  .footer-menu__list
    flex-wrap wrap
  .section--about .right-side
    margin-left 0
  .article-edu-program .article-program__info .button
    right 0
  .section--about .about-tab
    flex-wrap: wrap;
    justify-content: center;

    img
        margin-bottom: 30px;
@media(max-width 660px)
  .section--education-results .info
    height max-content

  .article-edu-program img
    max-width 50px
    max-height 50px
  .article-edu-program .article-program__info
    height: max-content;
    h3
          width: 280px;
  .section--education-formats .right-side
    justify-content: space-between;
    .education-form
      &:nth-child(2),&:nth-child(4)
        margin-right 0
  .article-edu-program .article-program__info .button
    font-size: 15px;
    padding: 10px 28px;
    min-width: max-content;
    span
      display none
  .link--tel
    display none
  .header
    overflow: hidden;
  .header__nav
    max-height: 50px;
    padding: 17px 0;

@media(max-width 660px)
  .page .education-blocks .edu-block__header,.page .education-blocks .edu-block
    max-width 100%
    width 100%
  .page .individual-education h2
    line-height 39px
    font-size 31px
  .article-news
    a
      flex-wrap: wrap;
    img
      max-width: 100%;
      max-height: 200px;
  .article-news .info
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
@media(min-width 320px) and (max-width 435px)
  .initial-info:after, .initial-info:before
    position: absolute;
    bottom: -85px;
    left: 0;
    content: "";
    box-shadow: inset 6px -4px 10px rgba(0,0,0,.04);

  .section--initial .container:after
    position: absolute;
    top: 19px;
    left: 0;
    width: 100px;
    height: 0;
    content: "";
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg) translate(161px,111px);
    border-right: 70px solid transparent;
    border-bottom: 70px solid #569fb1;
    border-left: 70px solid transparent;
  .article-edu-program
    &:nth-child(12)
      .article-program__info
        .button
          &:nth-child(3)
            &:after
              transform rotate(-90deg)
  .article-edu-program .article-program__info
    .button
      &:nth-child(3)
        background #ea6969
        width 22px
        height 22px
        padding 0
        display flex
        align-items center
        justify-content center
        &:after
          display: block;
          width: 12px;
          height: 7px;
          content: "";
          background: url(../images/down-arrow-white.png) no-repeat;
          background-size: contain;
        b
          display none


  .page-otdel
    .initi__container-righter
      margin-left: 0px;
      padding: 30px 20px;
      margin-top: 75px;

      p
        margin-left: 0;
    .initial-acreen
      height: 530px;
      align-items flex-start
      .wrap
        height: 230px;
        margin-top: 50px;
        .odel-buttons
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          .button
            margin-right 0

            &:first-child
              margin-right 0
        .progu
          h1
            font-size: 36px;
            font-weight: 400;
            line-height: 36px;
          p
            font-size: 24px;
            font-weight: 400;
            line-height: 35px;
    .section-discription-program
      margin-top 520px
      .discription-program
        flex-direction column
        .right-side-program__first-line
              padding: 35px 20px;
        .right-side-program__second-line
          padding: 30px 25px;
        .left-side
          width: 100%;
          .left-side-program__img
            display none
        .right-side
          width 100%
    .circlusy--section
      display none
  .article-edu-program .article-program__info
    height: max-content;
  .footer
    padding 75px 20px 40px
    hr
      margin 30px 0
    .container
      padding 0
      .footer-contacts__list
        display none
      &:first-child
        justify-content center
        ul
          flex-direction: column;
          justify-content: center;
          align-items: center;

      &:last-child
        flex-direction: column
        justify-content: center
        align-items: center
        ul
          flex-direction: column
          align-items: center
          .footer__down-left-item
            margin-bottom 10px
            &:first-child
              span
                &:after
                  display none

  .page
    .individual-education
      margin-bottom 80px
      h2
        color #ffffff
        font-size 36px
        font-weight 400
        line-height 48px
      &:before
        height 1590px
      .individual-blocks
        flex-wrap wrap
        flex-direction column
        align-items center
      .individual-block
        border 0
        &.white-block
          background 0
          box-shadow none
          h3
            color #fff

          .individual-block__item
            p
              color #fff
            &:first-child
              .item__img
                background 0
            &:nth-child(2)
              .item__img
                background 0
            &:nth-child(3)
              .item__img
                background 0
        &:after
          left 0
          right 0
          bottom -40px
          top auto
    .education-blocks
      padding 80px 20px

      .edu-blocks
        .edu-block
          max-width 280px
          margin-right 0
          &__header
            width 280px
    .initial-acreen
      &__info
        padding 40px 20px 0
        p
          color #444444
          font-size 24px
          text-align left
          font-weight 400
          line-height 36px
      .format-edu__img
        display none
      .format-edu__info
        margin-left 20px

      h1
        color #444444
        font-size 36px
        text-align left
        font-weight 400
        line-height 48px
  .section--timetable,.section--opinions
    display none
  .container
    padding 0 10px
  .header
    overflow hidden
  .header__nav
    width: 100%;
    white-space: nowrap;
    overflow: auto;

  .section--initial
    height max-content
    .container
      padding 0
    .initial-info
      width 100%
      margin-left 0
      padding 60px 15px 60px 20px
      margin-bottom 85px
      height max-content
      a
        &:after
          bottom -8px
          left 0
        &:before
          display none
    h1
      font-size 36px
      line-height 36px
    p
      font-size 24px
      font-weight 400
      line-height 32px

  .link--tel
    display none
  .logotype
    h6
      display none
  .section--education-formats
    padding 40px 20px
    .right-side
      justify-content flex-start
      .education-form
        margin-right 0
      h3
        font-size 16px
        font-weight 400
        max-width 100%
    h2
      font-size 24px
      font-weight 400
      line-height 48px
    p
      text-align center
  .section--news
    padding 20px
    .article-news
      margin-right 0
      img
        display none
      .info
        margin-left 0
  .section--education-results
    padding 0
    height max-content
    &:after
      display none
    .info
      width 100%
      height max-content
      padding 40px 20px
      h2
        font-size 24px
        font-weight 400
        line-height 48px
        text-align center
      .result-item
        p
          width 100%
          margin-left 0

      .result-item__img
        display none
      &:after
        display none
    .section__img
      display none
  .section--our-clients
    overflow auto
  .section--about
    padding 50px 20px
    h2
      font-size 24px
      font-weight 400
      line-height 48px
      margin-bottom 33px
    .right-side
      margin-left 0

    .select-tabs
      display none
    .about-tab
      flex-direction column
      img
        margin-bottom 40px
  .section--education-programs
      padding 40px 10px
      .for-whom
        display none
      h2
        font-size 24px
        font-weight 400
        line-height 48px
        margin-bottom 35px
      .article-edu-program
        height 40px
        margin-bottom 10px
        &.active
          height max-content
        img
          width 40px
          height 40px
        h3
          font-size 16px
          font-weight 400
          margin-left 10px
        button
          background #ea6969


  .section--completed-projects
    overflow auto
