@media(min-width 768px) and (max-width 1280px)
  .page
    .initial-acreen
      &__info
        padding-top 100px
      &__formats
        flex-wrap wrap
        margin-top 35px
        justify-content center
        .format-edu
          &:first-child
            margin-right 0
            margin-bottom 30px
    .education-blocks
      padding 80px 40px
      .edu-blocks
        flex-wrap wrap
        justify-content flex-start
        align-items flex-start
        .edu-block
          margin-bottom 30px
    .individual-education
      margin-bottom 80px
      &:before
        height 1482px
      .individual-blocks
        flex-wrap wrap
        flex-direction column
        align-items center
      .individual-block
        margin-right 0
        margin-bottom 55px
        &:after
          left 0
          right 0
          bottom -40px
          top auto
    .section--opinions
      padding 80px 40px
    .section--timetable
      padding 80px 20px
      .non
        display block
      .vis
        display none
      .timetable-item
        h3
          max-width 300px



  .logotype
    span
      display none
  .section--education-programs
    padding 80px 20px
    .for-whom
      height 290px
      padding 40px
      .button
        margin-right 5px
        padding 17px 20px
      h6
        padding-right 30px
        margin-right 30px
        min-width calc(78px + 30px)
  .section--initial
    overflow hidden
    &:after,&:before
      display none
    .container
      &:after
        left 440px
      &:before
        left 480px
  .article-edu-program
    h3
      width 420px
      height 30px
      overflow hidden

    .article-program__info
      .button
        min-width 130px
        right 10px
        span
          display none
  .section--education-formats
    padding 60px
    height max-content
    h2
      text-align center
    .container
      flex-direction column
      padding 0
    .right-side
      justify-content center
  .section--education-results
    padding 0
  .section--about
    padding 60px 20px 0
    .right-side
      margin-left 30px
    .about-tab
      align-items flex-start
      img
        max-width 200px
        max-height 270px
  .section--news
    article
      &:nth-child(even)
        display none
  .section--completed-projects
    padding 40px 20px 140px
    .complete-project
      margin 18px
    h2
      padding-right 25px
      margin-right 15px

  .section--our-clients
    display none
@media(max-width 768px)
  .page
    .individual-education
      margin-bottom 80px
      &:before
        height 1482px
      .individual-blocks
        flex-wrap wrap
        flex-direction column
        align-items center
      .individual-block
        margin-right 0
        margin-bottom 55px
        &:after
          left 0
          right 0
          bottom -40px
          top auto
    .education-blocks
      padding 80px 40px
      .edu-blocks
        flex-wrap wrap
        justify-content flex-start
        align-items flex-start
        .edu-block
          margin-bottom 30px
    .initial-acreen
      &__info
        padding-top 100px
      &__formats
        flex-wrap wrap
        margin-top 35px
        justify-content center
        .format-edu
          &:first-child
            margin-right 0
            margin-bottom 30px
  .container
    padding 0 40px
  .link--mail
    display none
  .section--initial
    overflow hidden
    &:after,&:before
      display none
    .container
      &:after
        left 440px
      &:before
        left 480px
  .section--education-formats
    padding 60px
    height max-content
    h2
      text-align center
    .container
      flex-direction column
      padding 0
    .right-side
      justify-content center
  .section--news
    article
      &:nth-child(even)
        display none

@media(min-width 320px) and (max-width 767px)
  .page
    .individual-education
      margin-bottom 80px
      h2
        color #ffffff
        font-size 36px
        font-weight 400
        line-height 48px
      &:before
        height 1590px
      .individual-blocks
        flex-wrap wrap
        flex-direction column
        align-items center
      .individual-block
        border 0
        &.white-block
          background 0
          box-shadow none
          h3
            color #fff

          .individual-block__item
            p
              color #fff
            &:first-child
              .item__img
                background 0
            &:nth-child(2)
              .item__img
                background 0
            &:nth-child(3)
              .item__img
                background 0
        &:after
          left 0
          right 0
          bottom -40px
          top auto
    .education-blocks
      padding 80px 20px

      .edu-blocks
        .edu-block
          max-width 280px
          margin-right 0
          &__header
            width 280px
    .initial-acreen
      &__info
        padding 40px 20px 0
        p
          color #444444
          font-size 24px
          text-align left
          font-weight 400
          line-height 36px
      .format-edu__img
        display none
      .format-edu__info
        margin-left 20px

      h1
        color #444444
        font-size 36px
        text-align left
        font-weight 400
        line-height 48px
  .section--timetable,.section--opinions
    display none
  .container
    padding 0 10px
  .header
    overflow hidden
  .header__nav
    width max-content
    background #5b5b5b;
  .section--initial
    height max-content
    .container
      padding 0
    .initial-info
      width 100%
      margin-left 0
      padding 60px 15px 60px 20px
      margin-bottom 85px
      height max-content
      a
        &:after
          bottom -8px
          left 0
        &:before
          display none
    h1
      font-size 36px
      line-height 36px
    p
      font-size 24px
      font-weight 400
      line-height 32px

  .link--tel
    display none
  .logotype
    h6
      display none
  .section--education-formats
    padding 40px 20px
    .right-side
      justify-content flex-start
      .education-form
        margin-right 0
      h3
        font-size 16px
        font-weight 400
        max-width 100%
    h2
      font-size 24px
      font-weight 400
      line-height 48px
    p
      text-align center
  .section--news
    padding 20px
    .article-news
      margin-right 0
      img
        display none
      .info
        margin-left 0
  .section--education-results
    padding 0
    height max-content
    &:after
      display none
    .info
      width 100%
      height max-content
      padding 40px 20px
      h2
        font-size 24px
        font-weight 400
        line-height 48px
        text-align center
      .result-item
        p
          width 100%
          margin-left 0

      .result-item__img
        display none
      &:after
        display none
    .section__img
      display none
  .section--our-clients
    overflow hidden
  .section--about
    padding 50px 20px
    h2
      font-size 24px
      font-weight 400
      line-height 48px
      margin-bottom 33px
    .right-side
      margin-left 0

    .select-tabs
      display none
    .about-tab
      flex-direction column
      img
        margin-bottom 40px
  .section--education-programs
      padding 40px 10px
      .for-whom
        display none
      h2
        font-size 24px
        font-weight 400
        line-height 48px
        margin-bottom 35px
      .article-edu-program
        height 40px
        margin-bottom 10px
        img
          width 40px
          height 40px
        h3
          font-size 16px
          font-weight 400
          margin-left 10px
        button
          display none
  .section--completed-projects
    display none
