.header
  position absolute
  top 0
  width 100%
  overflow hidden
  z-index 99
  &.fixed
    .header__up-line
      position fixed
      z-index 9999
      box-shadow 0 0 12px rgba(0,0,0 .12)
      top 0
  &__up-line
    width 100%
    background #fff
    .container
      height 80px
      align-items center
      justify-content space-between

  &__info
    align-items center
  &__nav
    max-height 50px
    padding calc((50px - 16px) / 2 ) 0
    background-color #56b3ca

    width: 100%;
    white-space: nowrap;

.vk
  margin-left 25px
  img
    width 40px
    height 40px
    margin-top: 6px;
.subscibe
  color #488999
  font-size 18px
  font-weight 400

.link
  margin-left 25px
  &--mail
    color #505050
    font-size 18px
    font-weight 400
    border-bottom 1px solid transparent
    padding-bottom 1px
    &:hover
      border-bottom 1px solid #505050

  &--tel
    color #505050
    font-size 18px
    font-weight 400
    span
      color #488999
  &--button
    max-height 50px
    color #488999
    font-size 16px
    font-weight 400
    background 0
    border-radius 30px
    border 1px solid #488999
    padding 16px 30px 15px
    transition .33s
    &:hover
      background #488999
      color #fff

.logotype
  align-items center
  img
    max-width 50px
    max-height 50px
  h6
    margin-left 17px
    color #333333
    font-size 18px
    font-weight normal
.header-list
  &__item
    margin-right 30px
    margin-top 1px
    a
      color #ffffff
      font-size 16px
      &:hover
        &:after
          width 100%
      &:after
        content ''
        display block
        height 1px
        background #fff
        margin-top 2px
        transition .55s
        width 0%
