.modalia
  form.main-form.flex
    input(type='text' name='name' placeholder='Ваше имя')
    input(type='tel' name='tel' placeholder='Ваш телефон*')
    input(type='text')
    textarea
    p Я прочитал условия Пользовательского соглашения
    button.button.button--pink ЗАКАЗАТЬ ОБУЧЕНИЕ
footer.footer

script(src='js/lib.min.js')
