include mixins.pug
header.header
  .header__up-line
    .flex.container
      a(href='index.html').logotype.flex
        img(src="images/logotype.png" alt='')
        h6 Тренинг-центр 
          span Фантаз
      .header__info
        a(href='mailto:info@bisnes-trener.ru').link.link--mail info@bisnes-trener.ru
        a(href='tel:89219043676').link.link--tel 
          span 8 (921) 
          | 904-36-76
        button.link.link--button.zap записаться
  nav.header__nav
    ul.header-list.flex.container
      li.header-list__item
        a(href='#programs') Обучение продажам
      li.header-list__item
        a(href='#formats') Отдел продаж под ключ
      li.header-list__item
        a(href='#results') Обучение руководителя
      li.header-list__item
        a(href='#about') О нас
      li.header-list__item
        a(href='#projects') Наши клиенты
      li.header-list__item
        a(href='#projects') Кейсы
      li.header-list__item
        a(href='#news') Статьи
      li.header-list__item
        a(href='#news') Расписание
    
