mixin article-edu-program(title,filter)
  article.article-edu-program(date-filter=filter)
    .flex.article-program__info
      img(src='images/edu-program-1.jpg' alt='')
      h3= title
      button.button.button--pink описание 
        span курса
    .article-program__more-info
      .flex.more-info__about
        ul.more-list
          li.more-list__item
            p 
              strong Цель курса: 
              |несколько строк о целях и задачах программы 
          li.more-list__item
            p 
              strong Продолжительность: 
              |6-36 часов 
          li.more-list__item
            p 
              strong Количество участников: 
              |6-15 человек в группе 
        .more-info__coast
          span от 73 000 Р.
          button.button.button--pink.zap Заказать обучение 
      hr
      .more-info__section.flex
        .left-side
          h4 I. Установление контакта (УК)
          p 
            strong Развиваемые компетенции: 
            |активность, инициатива, ориентация на клиенте, эмпатия
        ol.right-side-list
          li.right-side-list__item
            span Правила УК – дистанция, время, угол подхода.
          li.right-side-list__item
            span Признаки установленного контакта.
          li.right-side-list__item
            span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в ассортименте».
          li.right-side-list__item
            span Типы поведения покупателей.
          li.right-side-list__item
            span Диалог, виды реплик, правила ведения диалога.
          li.right-side-list__item
            span Методы установления контакта в торговом зале.
          li.right-side-list__item
            span Мета-сообщение и тренировка «искренности».
          li.right-side-list__item
            span Профилактика возражения «не верю».
      hr
      .more-info__section.flex
        .left-side
          h4 II. Выявление потребностей (ВП)
          p 
            strong Развиваемые компетенции: 
            |активность, инициатива, ориентация на клиенте, эмпатия
        ol.right-side-list
          li.right-side-list__item
            span Правила УК – дистанция, время, угол подхода.
          li.right-side-list__item
            span Признаки установленного контакта.
          li.right-side-list__item
            span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в ассортименте».
          li.right-side-list__item
            span Типы поведения покупателей.
          li.right-side-list__item
            span Диалог, виды реплик, правила ведения диалога.
          li.right-side-list__item
            span Методы установления контакта в торговом зале.
          li.right-side-list__item
            span Мета-сообщение и тренировка «искренности».
          li.right-side-list__item
            span Профилактика возражения «не верю».
      hr
      .more-info__section.flex
        .left-side
          h4 III. Презентация решения (ПР)
          p 
            strong Развиваемые компетенции: 
            |активность, инициатива, ориентация на клиенте, эмпатия
        ol.right-side-list
          li.right-side-list__item
            span Правила УК – дистанция, время, угол подхода.
          li.right-side-list__item
            span Признаки установленного контакта.
          li.right-side-list__item
            span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в ассортименте».
          li.right-side-list__item
            span Типы поведения покупателей.
          li.right-side-list__item
            span Диалог, виды реплик, правила ведения диалога.
          li.right-side-list__item
            span Методы установления контакта в торговом зале.
          li.right-side-list__item
            span Мета-сообщение и тренировка «искренности».
          li.right-side-list__item
            span Профилактика возражения «не верю».
      hr
      .more-info__section.flex
        .left-side
          h4 IV. Закрытие сделки
          p 
            strong Развиваемые компетенции: 
            |активность, инициатива, ориентация на клиенте, эмпатия
        ol.right-side-list
          li.right-side-list__item
            span Правила УК – дистанция, время, угол подхода.
          li.right-side-list__item
            span Признаки установленного контакта.
          li.right-side-list__item
            span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в ассортименте».
          li.right-side-list__item
            span Типы поведения покупателей.
          li.right-side-list__item
            span Диалог, виды реплик, правила ведения диалога.
          li.right-side-list__item
            span Методы установления контакта в торговом зале.
          li.right-side-list__item
            span Мета-сообщение и тренировка «искренности».
          li.right-side-list__item
            span Профилактика возражения «не верю».
      hr
      .more-info__section.flex
        .left-side
          h4 V. Работа с возражениями
          p 
            strong Развиваемые компетенции: 
            |активность, инициатива, ориентация на клиенте, эмпатия
        ol.right-side-list
          li.right-side-list__item
            span Правила УК – дистанция, время, угол подхода.
          li.right-side-list__item
            span Признаки установленного контакта.
          li.right-side-list__item
            span Понятие «факт» и «мнение», правила формулирования речевых модулей  «о компании», «акция», «ориентация в ассортименте».
          li.right-side-list__item
            span Типы поведения покупателей.
          li.right-side-list__item
            span Диалог, виды реплик, правила ведения диалога.
          li.right-side-list__item
            span Методы установления контакта в торговом зале.
          li.right-side-list__item
            span Мета-сообщение и тренировка «искренности».
          li.right-side-list__item
            span Профилактика возражения «не верю».
      hr
      .flex.more-info__button
        button.button.button--pink.zap Заказать обучение сейчас 
      button.more-info__close Свернуть программу
      
mixin education-form(title)
  .education-form.flex
    .education-form__img.flex
      img(src='images/open-book.png' alt='')
    h3= title

mixin article-news
  article.article-news
    a(href='page-news.html').flex
      img(src='images/img__200x200.jpg' alt='')
      .info
        h3 ЗАГОЛОВОК НОВОСТИ
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
        
mixin timetable-item
  li.timetable-item.flex
    h3 Название мероприятия, вебинара, встречи
    .wrap.flex
      .timetable-item__date.flex
        .icon
        span 24.01
      .timetable-item__time.flex
        .icon
        span 18:00
    .wrap.flex
      .timetable-item__price.flex
        .icon
        span 12000 Р.
      button.button.button--pink.zap 
        span.vis зарегистрироваться
        span.non запись
    
    
