mixin article-edu-program(title)
  article.article-edu-program.flex
    img(src='images/edu-program-1.jpg' alt='')
    h3= title
    button.button.button--pink описание курса
    
mixin education-form(title)
  .education-form.flex
    .education-form__img.flex
      img(src='images/open-book.png' alt='')
    h3= title

mixin article-news
  article.article-news.flex
    img(src='images/img__200x200.jpg' alt='')
    .info
      h3 ЗАГОЛОВОК НОВОСТИ
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
      
