doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main
      include section/initial-section.pug
      include section/education-programs.pug
      include section/education-formats.pug
      include section/our-clients.pug
      include section/education-results.pug
      include section/about.pug
      include section/completed-projects.pug
      hr.hr-xer
      include section/news.pug

    include inc/footer.pug
