doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main
      include section/initial-section.pug
      include section/education-programs.pug
      include section/education-programs.pug
      include section/our-clients.pug
      include section/education-results.pug
      include section/about.pug
      include section/completed-projects.pug
      include section/news.pug
      form.main-form.flex
        input(type='text' name='name' placeholder='Ваше имя')
        input(type='tel' name='tel' placeholder='Ваш телефон*')
        input(type='text')
        textarea
        p Я прочитал условия Пользовательского соглашения
        button.button.button--pink ЗАКАЗАТЬ ОБУЧЕНИЕ
    include inc/footer.pug
