doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main.mainx
      article.page-otdel
        .initial-acreen.flex
            img(src='images/Bitmap.jpg' alt='').wrpsu
            .initial-acreen__info
              .wrap
                .container.flex.justi-bet
                  .progu
                    h1 Эффективный отдел продаж
                    p Продающая команда + Отлаженная система продаж
                    .odel-buttons
                      button.button.button--pink создать с нуля
                      button.button.button--blue отладить действующий
                  .initi__container-righter
                      h4 Эффективный ОП: 
                      p 
                        strong — это команда 
                        |профессиональных менеджеров, вовлеченных в процесс и лояльных к компании, отождествляющие личные цели и цели организации и ориентированные на их достижение; 
                      p 
                        strong — это отдел, 
                        |который выполняет план, показывает высокие и средневысокие показатели на длительном периоде, а также обеспечивает регулярный прирост по заданным показателям.
                    
        section.circlusy--section.container
          p.cirk1.flex ОТДЕЛ ПРОДАЖ
          a(href="#b-2").cirk2.flex Система аналитики и контроля
          a(href="#b-3").cirk3.flex Система работы отдельного менедежера
          a(href="#b-4").cirk4.flex Система работы Отдела
          a(href="#b-5").cirk5.flex Нематериальная мотивация
          a(href="#b-6").cirk6.flex Материальная мотивация
          a(href="#b-7").cirk7.flex Система развития сотрудников
          a(href="#b-8").cirk8.flex Система обучения стажеров
          a(href="#b-9").cirk9.flex Система подбора
          a(href="#b-10").cirk10.flex Система адаптации
          a(href="#b-11").cirk11.flex Система оценки
              
        section.section-discription-program.section.container
          .discription-program.flex#b-9
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/worker.png" alt='')
               h3 Система подбора
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Обеспечить  поток кандидатов нужного уровня мотивации и профессионализма;
                  li.first-line__item Снизить затраты времени и вложений на подбор сотрудников;
                  li.first-line__item Повысить "качество" подбора и сформировать "звездную" команду  продаж.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  — Формирование Профилей Должности;
                  li.second-line__item  — Выделение ключевых корпоративных и профессиональных компетенций компании;
                  li.second-line__item  — Внедрение системы ускоренного подбора;
                  li.second-line__item  — Формирование системы оценки кандидатов;
                  li.second-line__item  — Обучение руководителя: от проведения собеседования до оценки соотвествия кандадата Профилю.
                  
          .discription-program.flex#b-10
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/plant.png" alt='')
               h3 Система адаптации
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Максимально способствовать превращению кандадита в компетентного специалиста;
                  li.first-line__item Обеспечить достижение КПЭ по Испытательному Сроку кандидатом;
                  li.first-line__item Повышение вовлеченности и мотивации сотрудников.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  — Формирование системы адапатации сотрудника к компании;
                  li.second-line__item  — Формирование системы адптации сотрудника к должности;
                  li.second-line__item  — Внедрение системы ускоренного подбора;
                  li.second-line__item  — Внедрение системы наставничества;
                  li.second-line__item  — Разработка программы мероприятий и КПЭ Испытального Срока для разных должностей.
                  
          .discription-program.flex#b-11
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/grades.png" alt='')
               h3 Система оценки
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Сформировать целевые показатели для: программы развития и обучения персонала; программы нематериального стимулирования; ротации персонала. 
                  li.first-line__item Оценить эффективность мероприятий по обучению, мотивации персонала. 
          
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  — Разработка системы оценки на этапах: подбора, по окончанию испытательного срока,  ежегодной регулярной оценки.
                  li.second-line__item  — По блокам: корпоративные стандарты и внутренние правила; продукт; технологии продаж; лояльность, удовлетворенность.
        
                  
          .discription-program.flex#b-8
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/man.png" alt='')
               h3 Система обучения стажеров
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Минимизировать срок обучения стажера в 2-4 раза;
                  li.first-line__item Повысить показатели эффективности стажеров; 
                  li.first-line__item Повысить лояльность и мотивацию персонала.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  - Формирование структуры и программы обучения стажеров;
                  li.second-line__item  - Внедрение системы наставничества;
                  li.second-line__item  - Обучение внутренних тренеров.

                  
          .discription-program.flex#b-7
            .left-side.flex
               .left-side-program__img
                 img(src="images/girl.png" alt='')
               h3 Система развития сотрудников
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Обеспечить достижение целевых показателей сотрудниками;
                  li.first-line__item Непрерывно повышать профессионализм команды;
                  li.first-line__item Поддерживать мотивацию и вовлеченность сотрудников на высоком уровне;
                  li.first-line__item Развить специальные компетенции сотрудников согласно профиля должности.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  - Формирование внутренней профессиональной системы обучения продажам;
                  li.second-line__item  - Создание системы развития пероснала по компетенциям и показателям;
                  li.second-line__item  - Разработка индивидуальных планов развития сотрудников;
                  li.second-line__item  - Обучение внутренних тренеров.
      
                  
          .discription-program.flex#b-3
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/cup.png" alt='')
               h3 Система работы отдельного менеджера
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Повысить результативность деятельности менеджера;
                  li.first-line__item Повысить качественные показатели работы сотрудников;
                  li.first-line__item Повысить мотивацию персонала.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  - Создание системы операционной работы и контроля; 
                  li.second-line__item  - Создание системы планирования и отчетности менедежера;
                  li.second-line__item  - Обучение руководителя: проведение совещаний, управление результатом менеджера и др. 
  
                  
                
          .discription-program.flex#b-4
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/network.png" alt='')
               h3 Система работы отдела
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item  Достигать запланированного прироста по показателям;
                  li.first-line__item  Повысить удовлетворенность и лояльность клиентов;
                  li.first-line__item  Снизить издержки, оптимизировать внутренние-бизнес процессы;
                  li.first-line__item  Увеличить прибыль.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  - Разработка организационной структуры;
                  li.second-line__item  - Формирование тактических планов и мероприятий по их достижению;
                  li.second-line__item  - Разработка и внедрение стандартов продаж;
                  li.second-line__item  - Оптимизация цепочки работы с клиентом (в т.ч. смежные подразделения);
                  li.second-line__item  - Внедрение корпоративной культуры;
                  li.second-line__item  - Внедрение системы управления по ценностям;
                  li.second-line__item  - Внедрение системы управления по показателям.
                  
                
          .discription-program.flex#b-2
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/man-2.png" alt='')
               h3 Система аналитики и контроля
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Нацеливать и корректировать мероприятия на достижение целевых показателей;
                  li.first-line__item Оперативно принимать решения по отклонениям показателей;
                  li.first-line__item Выделить КПЭ для всех уровней управления. 
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item  - Актуализировать систему показателей  (ССП);
                  li.second-line__item  - Формирование системы краткосрочной и долгосрочной отчетности (аналитики);
                  li.second-line__item  - Разработка карты решений по отклонения показателей в краткосрочной и долгосрочной перспективе;
                  li.second-line__item  - Настройка процесса планирования показателей для всех уровней персонала.

                  
          .discription-program.flex#b-6
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/coin.png" alt='')
               h3 Материальная мотивация
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Увеличить прибыль на 10-30%;
                  li.first-line__item Нацелить деятельность сотрудников на достижение конкретных КПЭ;
                  li.first-line__item Гибко менять мотивацию в соотвествии с целями компании;
                  li.first-line__item Повышать мотивацию и лояльность персонала;
                  li.first-line__item Оптимизировать затраты на ФОТ.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item - Связать Профиль должности и формы материальной мотивации;
                  li.second-line__item - Выделение КПЭ для всех уровней персонала;
                  li.second-line__item - Формирование системы КПЭ для всех должностей;
                  li.second-line__item - Формирование системы мерпориятий по достижению КПЭ;
                  li.second-line__item - Разработка формул начисления переменной части;
                  li.second-line__item - Разработка процесса оценки мотивации;
                  li.second-line__item - Разработка процесса увольнения персонала.
                  
          .discription-program.flex#b-5
            .left-side.flex
               .left-side-program__img
                 img(src="images/icon-ot/book.png" alt='')
               h3 Нематериальная мотивация
            .right-side
              .right-side-program__first-line
                h4 Решает следующие задачи:
                ul.first-line__list
                  li.first-line__item Сформировать эффективную команду;
                  li.first-line__item Повысить прибыль компании за счет роста вовлеченности персонала;
                  li.first-line__item Внедрить систему упрвления инициативностью и активностью сотрудников.
              .right-side-program__second-line
                h4 Возможные мероприятия:
                ul.second-line__list
                  li.second-line__item - Разработать систему Нематериальной политики компании;
                  li.second-line__item - Внедрить систему управления персоналом по ценностям;
                  li.second-line__item - Обучение руководителя: основы мотивационного лидерства. 

                  
                
            
            
        include section/about.pug
        include section/completed-projects.pug
        include section/our-clients.pug
        hr.hr-xer
        section.section.section--timetable.container.flex
          h2 Расписание ближайших занятий
          ul.timetable__list
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
          buttom.button.button--pink.zap оставить заявку на обучение
        hr.hr-xer
        section.section.section--opinions.container
          h2 Отзывы о нас
          article.article-opinion.active
            img(src='images/unnamed.jpg' alt='')
            .info
                p 
                  b Андреев А.Ю. 
                  |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
                p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
                p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
          article.article-opinion
            img(src='images/unnamed.jpg' alt='')
            .info
                p 
                  b Андреев А.Ю. 
                  |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
                p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
                p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;

          .dots.flex    
            span.active
            span
 
        hr.hr-xer
        include section/news.pug
          span.helpel-text.zap Возник вопрос? Будем рады ответить!
        

    include inc/footer.pug
