doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main
      article.page-otdel
        .initial-acreen.flex
            img(src='images/Bitmap.jpg' alt='').wrpsu
            .initial-acreen__info
              .wrap
                .container.flex.justi-bet
                  .progu
                    h1 Эффективный отдел продаж
                    p Продающая команда + Отлаженная система продаж
                    .odel-buttons
                      button.button.button--pink создать с нуля
                      button.button.button--blue отладить действующий
                  .initi__container-righter
                      h4 Эффективный ОП: 
                      p 
                        strong — это команда 
                        |профессиональных менеджеров, вовлеченных в процесс и лояльных к компании, отождествляющие личные цели и цели организации и ориентированные на их достижение; 
                      p 
                        strong — это отдел, 
                        |который выполняет план, показывает высокие и средневысокие показатели на длительном периоде, а также обеспечивает регулярный прирост по заданным показателям.
                    
        section.circlusy--section.container
          p.cirk1.flex ОТДЕЛ ПРОДАЖ
          p.cirk2.flex Система аналитики и контроля
          p.cirk3.flex Система работы отдельного менедежера
          p.cirk4.flex Система работы Отдела
          p.cirk5.flex Нематериальная мотивация
          p.cirk6.flex Материальная мотивация
          p.cirk7.flex Система развития сотрудников
          p.cirk8.flex Система обучения стажеров
          p.cirk9.flex Система подбора
          p.cirk10.flex Система адаптации
          p.cirk11.flex Система оценки
              
        include section/about.pug
        include section/completed-projects.pug
        include section/our-clients.pug
        section.section.section--timetable.container.flex
          h2 Расписание ближайших занятий
          ul.timetable__list
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
          buttom.button.button--pink.zap оставить заявку на обучение
        section.section.section--opinions.container
          h2 Отзывы о нас
          article.article-opinion.active
            img(src='images/unnamed.jpg' alt='')
            .info
                p 
                  b Андреев А.Ю. 
                  |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
                p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
                p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
          article.article-opinion
            img(src='images/unnamed.jpg' alt='')
            .info
                p 
                  b Андреев А.Ю. 
                  |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
                p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
                p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;

          .dots.flex    
            span.active
            span
 
        hr.hr-xer
        include section/news.pug
          span.helpel-text.zap Возник вопрос? Будем рады ответить!
        

    include inc/footer.pug
