doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main
      article.page
        .initial-acreen.flex
            img(src='images/page-wall.jpg' alt='')
            .initial-acreen__info
              h1 Обучение руководителя.  
              p Система обучения руководителей и собственников
            .flex.initial-acreen__formats
              .format-edu.flex
                .format-edu__img.flex
                  img(src='images/network.png' alt='')
                .format-edu__info
                  h3 Индивидуальный формат
                  p Научитесь решать управленческие задачи на практике с личным экспертом
                  
              .format-edu.flex
                .format-edu__img.flex.img--red
                  img(src='images/network.png' alt='')
                .format-edu__info
                  h3 Индивидуальный формат
                  p Освойте управленческие навыки и технологии в команде единомышленников
        .education-blocks.container
          h2 Блоки обучения
          .flex.edu-blocks
            .edu-block
              .edu-block__header
                h3 Управленческие навыки
              ul.edu-block__lsit
                li.edu-block__item
                  span Постановка задач, делегирование;
                li.edu-block__item
                  span Проведение совещаний;
                li.edu-block__item
                  span Управление разными типа сотрудников;
                li.edu-block__item
                  span Управление в стиле коучинг;
                li.edu-block__item
                  span Планирование работы и контроль;
                li.edu-block__item
                  span Наставничество, обратная связь;
                li.edu-block__item
                  span Развитие персонала по показателям;
                li.edu-block__item
                  span Развитие персонала по компетенциям.
                
            .edu-block
              .edu-block__header
                h3 Личная эффективность
              ul.edu-block__lsit
                li.edu-block__item
                  span Планирование и управление приоритетами;
                li.edu-block__item
                  span Тайм-менеджмент;
                li.edu-block__item
                  span Стессменеджмент, профилактика выгорания;
                li.edu-block__item
                  span Лидерство и влияние;
                li.edu-block__item
                  span Развитие эмоциональной компетентности;
                li.edu-block__item
                  span Мотивационное лидерство;
                li.edu-block__item
                  span Навыки переговоров;
                li.edu-block__item
                  span Уверенное поведение. 
                
            .edu-block
              .edu-block__header
                h3 Управленческие технологии
              ul.edu-block__lsit
                li.edu-block__item
                  span Внедрение изменений;
                li.edu-block__item
                  span Планирование и управление приоритетами;
                li.edu-block__item
                  span Тайм-менеджмент;
                li.edu-block__item
                  span Стессменеджмент, профилактика выгорания;
                li.edu-block__item
                  span Лидерство и влияние;
                
            .edu-block
              .edu-block__header
                h3 Управление отделом
              ul.edu-block__lsit
                li.edu-block__item
                  span Подбор персонала;
                li.edu-block__item
                  span Планирование и управление приоритетами;
                li.edu-block__item
                  span Тайм-менеджмент;
                li.edu-block__item
                  span Стессменеджмент, профилактика выгорания;
                li.edu-block__item
                  span Лидерство и влияние;
                li.edu-block__item
                  span Стессменеджмент, профилактика выгорания;
                li.edu-block__item
                  span Лидерство и влияние;
                
            .edu-block
              .edu-block__header
                h3 Управление продажами
              ul.edu-block__lsit
                li.edu-block__item
                  span Создание системы продаж;
                li.edu-block__item
                  span Планирование и управление приоритетами;
                li.edu-block__item
                  span Тайм-менеджмент;
                li.edu-block__item
                  span Стессменеджмент, профилактика выгорания;
                li.edu-block__item
                  span Лидерство и влияние;
                
        .individual-education
          h2 Особенности индивидуального обучения
          .flex.individual-blocks.container
            .individual-block
              h3 Индивидуальная программа
              ul.individual-block__list
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
            .individual-block
              h3 Индивидуальная программа
              ul.individual-block__list
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
            .individual-block
              h3 Индивидуальная программа
              ul.individual-block__list
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
                li.individual-block__item.flex
                  .item__img
                    img(src='images/img-1.png' alt='')
                  p Мы включаем в обучение  только нужные вам блоки;
          p.individual-education__text.zap Оставить заявку на индивидуальное обучение руководителя
        include section/about.pug
        include section/completed-projects.pug
        include section/our-clients.pug
        section.section.section--timetable.container.flex
          h2 Расписание ближайших занятий
          ul.timetable__list
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
          buttom.button.button--pink.zap оставить заявку на обучение
        section.section.section--opinions.container
          h2 Отзывы о нас
          article.article-opinion.active
            img(src='images/unnamed.jpg' alt='')
            .info
                p 
                  b Андреев А.Ю. 
                  |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
                p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
                p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
          article.article-opinion
            img(src='images/unnamed.jpg' alt='')
            .info
                p 
                  b Андреев А.Ю. 
                  |Федеральная розничная сеть мебельных магазинов «СтолБери», директор мебельного направления «Прогрес-М» 
                p «Фантаз И.Б. с 7 октябрь 2016 по 15 апреля 2016 работала в холдинге МЦ Прогресс, в мебельном направлении 							«СТОЛБЕРИ» (сеть магазинов по продаже столов и стульев) в качестве бизнес-консультанта. В рамках 							консультационного проекта Ирине Борисовне были поставлены следующие задачи:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;
                p В продолжении своего консалт-проекта Фантаз И.Б. все перечисленные задачи были реализованы полностью. Вследствие этого в рамках розничной сети «СтолБери»:
                ul
                  li 1) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 2) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 3) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 4) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 5) Произвести анализ текущей системы мотивации продавцов-консультантов;
                  li 6) Произвести анализ эффективности работы продавцов-консультантов розничных магазинов;
                  li 7) Произвести анализ текущей системы мотивации продавцов-консультантов;

          .dots.flex    
            span.active
            span
 
        hr.hr-xer
        include section/news.pug
          span.helpel-text.zap Возник вопрос? Будем рады ответить!
        

    include inc/footer.pug
