doctype html
html(lang='ru')
  head
    meta(name='robots' content='none')
    meta( charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link( rel='stylesheet' href='css/style.min.css')
    title Главная
  body
    include inc/header.pug
    main.main.mainko-pageko.page-time-table
      .puga-duga#time-table
        section.section.section--timetable.container.flex
          h2 Расписание ближайших занятий
          ul.timetable__list
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item
            +timetable-item

    include inc/footer.pug
