@import '../fonts/fonts.css'
:root
  --pink #ea6969
  --darkBlue #488999
body
  font-family "Circe", sans-serif
.flex
  display flex
.container
  max-width 1280px
  margin auto
@import 'inc/header.styl'
@import 'inc/reset.styl'
