@import '../fonts/fonts.css'
:root
  --pink #ea6969
  --darkBlue #488999

.main
  margin-top 160px

.flex
  display flex
.container
  max-width 1280px
  margin auto
  padding 0 85px
.section
  h2
    color #444444
    font-size 36px
    text-align center
    font-weight 400
    line-height 48px
.button
  max-height 50px
  border-radius 30px
  color #777777
  margin-right 15px
  margin-bottom 20px
  padding calc((50px - 16px) / 2) 30px
  font-size 16px
  font-weight 400
  background-color #fff
  border 1px solid
  &--blue
    border-color #56b3ca
    transition .33s
    &:hover
      border-color #488999
      background #488999
      color #fff
    &.active
      background-color #56b3ca
      color #fff
  &--pink
    border-color #ea6969
    color #fff
    background-color #ea6969
.modalia
  z-index -9
  opacity 0
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  background rgba(0, 0, 0, 0.15)
  transition .55s
  cursor pointer
  &.active
    z-index 99
    opacity 1
    .main-form
      position absolute
      width 480px
      height 535px
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      box-shadow 0 10px 16px rgba(227, 231, 235, 0.5), 0 0 4px rgba(0, 0, 0, 0.1)
      border-radius 8px
      background-color #ffffff
      justify-content center
      flex-direction column
      align-items center

      button
        width 400px
      p
        opacity 0.5
        margin 25px 0 30px
        color #646464
        font-size 14px
        font-weight 400
      textarea
        width 400px
        height 120px
        border-radius 10px
        background-color #f9f9f9
        border 0
      input
        width 400px
        margin-bottom 20px
        height 50px
        padding-left 25px
        box-shadow inset 0 1px 10px rgba(188, 188, 188, 0.3)
        border-radius 10px
        border 1px solid #d8d8d8
        background-color #ffffff
        color #afafaf
        font-size 16px
        font-weight 400
.helpel-text
  color #ea6969
  font-size 16px
  text-align right
  font-weight 400
  display inline-block
  width 100%
  text-decoration underline
.non,.helpel-text
  display none
.vis
  display block
@import 'inc/header.styl'
@import 'inc/footer.styl'
@import 'inc/reset.styl'
@import 'inc/page.styl'

@import 'section/initial-section.styl'
@import 'section/education-programs.styl'
@import 'section/education-formats.styl'
@import 'section/our-clients.styl'
@import 'section/education-results.styl'
@import 'section/about.styl'
@import 'section/completed-projects.styl'
@import 'section/news.styl'


@import 'inc/adaptive.styl'
